#window {
    height: 700px;
    width: 400px;
    border: 1px solid;
    margin: 0 auto;
    text-align: center;
}

#slider {
    border: 1px solid;
    margin: 0 auto;
    overflow: hidden;
}

#css_carousel:hover, #js_carousel:hover {
    animation-play-state: paused;
}

#slider, img {
    height: 250px;
    width: 250px;
}

#css_carousel, #js_carousel {
    display: flex;
}

#css_carousel {
    animation: move 40s ease-in 2s infinite alternate;
}

#buttons {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -50%;
    height: 10%;
    opacity: 0;
}

button:hover {
    background-color: tomato;
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }
    8.33% {
        transform: translateX(-250px);
    }
    16.66% {
        transform: translateX(-500px);
    }
    24.99% {
        transform: translateX(-750px);
    }
    33.32% {
        transform: translateX(-1000px);
    }
    41.65% {
        transform: translateX(-1250px);
    }
    49.98% {
        transform: translateX(-1500px);
    }
    58.31% {
        transform: translateX(-1750px);
    }
    66.64% {
        transform: translateX(-2000px);
    }
    74.97% {
        transform: translateX(-2250px);
    }
    83.3% {
        transform: translateX(-2500px);
    }
    91.6% {
        transform: translateX(-2750px);
    }
    99.93% {
        transform: translateX(-3000px);
    }
}